@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared item */
.display-flex{
    display: flex;
}
.background{
    color: white;
    background-color: black;
}
.margin{
   margin: 20px 90px;
}
.text-align{
    text-align: center;
}
.navbar, .banner, .card2, .card-menu, .footer, .bmi{
    justify-content: space-between;
    align-items: center;
}
.bttn{
    gap: 20px;
}
.heder-n{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
}
.nav-menu{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
    background-color: 1px	Inside
    rgba(255, 255, 255, 0.1);
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}
p{
    color: rgba(255, 255, 255, 0.5);
}
.menubar{
   display: none;
}
.font{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 60px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.home{
    border-radius: 36px;
    padding: 10px;
background: rgb(230, 83, 60);
}
i{
    font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}
.banner{
    
}
button{
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
background-color: black;
color: rgb(255, 255, 255);
border-radius: 42px;
padding: 16px 40px 16px 40px;
}
.btn{
    background-color: rgb(230, 83, 60);
    border: none;
}
.circle{
    height: 40px;
    width: 40px;
    background-color: brown;
    border-radius: 50%;
    align-items: center;
}
.card1{
    width: 150px;
    height: 90px;
    bottom: 400px;
    left: 250px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
}
.card2{
    bottom: 250px;
    left: -50px;
    height: 80px;
    width: 150px;
}
.card2, .card1{
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.card-item>img{
    border-radius: 50%;
    width: 100%;
}
.image{
    margin-top: 20px;
    text-align: center;
}
.images>img{
    width: 90%;
    border-radius: 10px;
}
.run-extra{
   width: 100%;
}
.run{
    justify-content: ;
    align-items: center;
        background: rgba(255, 255, 255, 0.1);
        margin: 20px 90px;
        padding: 20px;
        border-radius: 10px;
        gap: 200px;
    }
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.team-member{
    height: 270px;
}
.team-member>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.trainer-desc{
    position: relative;
    bottom: 100px;
    right: 70px;
}
input{
    margin: 10px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    width: 100%;
    height: 30px;
}
#text{
    border: none;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    margin: 10px;
}
.image>img{
    width: 90%;
    border-radius: 10px;
}
table, td, th{
    border: 2px solid wheat;
    border-collapse: collapse;
}
.bmi-cal{
    background-color: dimgray;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    height: 20px;
}
.bmi1{
    gap: 10px;
}
.bmi-top{
    margin: 0 80px;
}
footer, .bmi-bg{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 90px;
}

/* Small Device Design */
@media screen and (max-width: 576px) {
    .nav-menu{
        display: none;
    }
    .menubar{
        display: inline;
    }
    .margin{
        margin: 10px 20px;
     
     }
    .banner,
    .display-flex{
        flex-direction: column;
    }
    .navbar{
        flex-direction: row;
    }
    .bttn{
        flex-direction: row;
    }
    .btn{
        width: 50%;
    }
    .image{
        margin-bottom: 0px;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
    }
    .image>img{
        width: 80%;
    }
    .run{
        gap: 10px;
        margin: 20px;
        padding: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .input, #text{
        width: 80%;
    }
    }
}